
[Unit]

Description=Dev Bulbe instance

StartLimitIntervalSec=5min
StartLimitBurst=5

[Service]

ExecStart=/usr/bin/python3.8 /home/bots/launcher.py kippy

Environment=PYTHONUNBUFFERED=1

Restart=on-failure

#Type=notify

User=bots

#WatchdogSec=30s


[Install]

WantedBy=default.target